<html>
    <div class="box" style="margin-left: 60px;">
        <h1>ID : {{object.Alumni_id}}</h1>
        <p>Name : {{object.name}}</p>
        <p>Mobile number : {{object.PhoneNumber}}</p>
        <!-- <p>E-mail : {{object.email}}</p>
        <p>Contact : {{object.contact}}</p>
        <p>image</p>
        <img src="{{object.photo.url}}" alt="picture" width="250" height="250"> -->
        <!-- <p></p><a href="otoplist/"><button class="button" style="vertical-align:middle"><span>Choose My Product </span></button></a></p> -->
    </div>
</html>