<html>
  {% load crispy_forms_tags %}
    <div class="content_section">
      <div class="'media">
        <img class = "rounded-ciecle account_img" src="{{user.alumni.image.url}}" width="70" height="70">
        <div class="media-body">
          
          <h1>Profile</h1>
          <h2 class="account-heading">{{user.username}} </h2>
          <p class="text-secondary">{{user.email}}</p>
          <p>{{user.alumni.LinkedIn}}</p>
          <p>{{user.alumni.Line}}</p>
          <p>{{user.alumni.PhoneNumber}}</p>
          <p>{{user.alumni.Province}}</p>
          <p>{{user.alumni.District}}</p>
          <p>{{user.alumni.Sub_District}}</p>
          <p>{{user.alumni.Postal_code}}</p>
    
          {%with a=user.alumni %}
          <h1>Achievementment</h1>
            {% for achievement in achievement %}
              {% if a == achievement.Alumni_id %}
                <p>({{achievement.Date.year}}) , {{achievement.Achievement_name}} , {{achievement.Institute}}</p>
              {%endif%}
            {%endfor%}

          <h1>Education</h1>
            {% for education in education %}
              {% if a == education.Alumni_id %}
                <p>{{education.Degree}} Degree {{education.Course_id.Course_title}} , {{education.Course_id.Faculty}} , (GPA:{{education.Gpa}})</p>
                <p>{{education.Educated_date.year}} - {{education.Graduated_date.year}} ,  Thammasat University , Pathum Thani ,  Thailand</p>          
              {%endif%}
            {%endfor%}

          <h1>Job</h1>
            {% for job in job%}
              {% if a == job.Alumni_id %}
                <p>{{job.Start_date.year}}-{{job.end_date.year}} {{job.Job_title}} at {{job.Company_num.Name}}</p>
              {%endif%}
            {%endfor%}
          {%endwith%}

          
 
        </div>
        <a href="up/">edit profile</a>
        <!-- <a href="up2/">edit profile2</a> -->
      </div>
    </div>

</html>



